html {
    background: black;
}
body {
    background: darkred;
    width: 275px;
    height: 470px;
    margin: 0 auto;
}
/*  logo */
.logo {
    margin: 15px 15px 5px;
    width: 100px;
    height: 25px;
}

/* display */
.display {
    background: rgb(72, 78, 78);
    height: 44px;
    width: 240px;
    margin: 0 auto;
    border-radius: 20px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;    
}

/* buttons */
button {
margin: 15px;
 border-radius: 50%;
}